wgranie bazy

In [10]:
import pandas as pd
import numpy as np
from datetime import datetime
import pytz
import isodate
dane = pd.read_csv(r'D:\Studia\4 semestr\MSID\L\Projekt MSID\datebase_yt\merged_select_category.csv')
dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId
0,WBniggluAe8,2023-05-14T16:08:26Z,1954852.0,4022.0,134012.0,False,PT15M49S,24
1,wycmfVWKWlw,2023-04-29T00:42:11Z,2490816.0,4463.0,187305.0,False,PT14M48S,24
2,mNHgVZPlh5g,2023-03-31T22:46:42Z,2206284.0,4406.0,141393.0,False,PT9M53S,24
3,XdwaASKJGxo,2023-03-14T16:00:30Z,2735952.0,5849.0,127953.0,False,PT1H3M3S,24
4,BEXqDQ6X5hM,2023-03-10T18:00:08Z,2705155.0,3978.0,139607.0,False,PT18M33S,24
...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12T14:41:51Z,27921.0,0.0,38.0,False,PT1M40S,2
26961,RcYtzUVR6is,2012-06-12T08:10:49Z,9561.0,0.0,22.0,False,PT1M22S,2
26962,bygSHVeH_Zc,2012-06-12T06:18:53Z,116046.0,52.0,266.0,False,PT3M24S,2
26963,oql8TymoDXM,2012-06-11T07:57:07Z,581.0,2.0,5.0,False,PT8M48S,2
26964,huRBAY4Fys8,2012-06-11T07:53:23Z,4660.0,0.0,6.0,False,PT2M57S,2

wypełnienie brakujących danych  likeCount tymaczasowo jako -1
a commentCount jako 0, i usuniecie rekordów z brakiem danych w viewCount ponieważ jest tylko 1 taki

In [12]:
print(dane['commentCount'].isnull().sum())
print(dane['viewCount'].isnull().sum())
print(dane['likeCount'].isnull().sum())

1437
1
33

In [13]:
dane = dane.dropna(subset=['viewCount'])

In [14]:
dane['commentCount'].fillna(0,inplace=True)
dane['likeCount'].fillna(-1,inplace=True)
dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId
0,WBniggluAe8,2023-05-14T16:08:26Z,1954852.0,4022.0,134012.0,False,PT15M49S,24
1,wycmfVWKWlw,2023-04-29T00:42:11Z,2490816.0,4463.0,187305.0,False,PT14M48S,24
2,mNHgVZPlh5g,2023-03-31T22:46:42Z,2206284.0,4406.0,141393.0,False,PT9M53S,24
3,XdwaASKJGxo,2023-03-14T16:00:30Z,2735952.0,5849.0,127953.0,False,PT1H3M3S,24
4,BEXqDQ6X5hM,2023-03-10T18:00:08Z,2705155.0,3978.0,139607.0,False,PT18M33S,24
...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12T14:41:51Z,27921.0,0.0,38.0,False,PT1M40S,2
26961,RcYtzUVR6is,2012-06-12T08:10:49Z,9561.0,0.0,22.0,False,PT1M22S,2
26962,bygSHVeH_Zc,2012-06-12T06:18:53Z,116046.0,52.0,266.0,False,PT3M24S,2
26963,oql8TymoDXM,2012-06-11T07:57:07Z,581.0,2.0,5.0,False,PT8M48S,2
26964,huRBAY4Fys8,2012-06-11T07:53:23Z,4660.0,0.0,6.0,False,PT2M57S,2

In [7]:
dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26965 entries, 0 to 26964
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            26965 non-null  object
 1   publishedAt   26965 non-null  object
 2   viewCount     26965 non-null  float64
 3   commentCount  26965 non-null  int32
 4   likeCount     26965 non-null  float64
 5   madeForKids   26965 non-null  bool
 6   duration      26965 non-null  object
 7   categoryId    26965 non-null  int64
dtypes: bool(1), float64(2), int32(1), int64(1), object(3)
memory usage: 1.4+ MB

zmianna typu na inta

In [8]:
dane['commentCount'] = dane['commentCount'].astype(int)
dane['viewCount'] = dane['viewCount'].astype(int)
dane['likeCount'] = dane['likeCount'].astype(int)
dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26965 entries, 0 to 26964
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            26965 non-null  object
 1   publishedAt   26965 non-null  object
 2   viewCount     26965 non-null  int32
 3   commentCount  26965 non-null  int32
 4   likeCount     26965 non-null  int32
 5   madeForKids   26965 non-null  bool
 6   duration      26965 non-null  object
 7   categoryId    26965 non-null  int64
dtypes: bool(1), int32(3), int64(1), object(3)
memory usage: 1.2+ MB

In [9]:
if dane['duration'].isna().any():
    print("Kolumna 'viewCount' zawiera brakujące wartości.")
else:
    print("Kolumna 'viewCount' nie zawiera brakujących wartości.")

Kolumna 'viewCount' nie zawiera brakujących wartości.

zmiana isodate na sekundy

In [10]:
dane['duration_seconds'] = dane['duration'].apply(lambda x: isodate.parse_duration(x).total_seconds())
dane['duration_seconds'] = dane['duration_seconds'].astype(int)
dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId,duration_seconds
0,WBniggluAe8,2023-05-14T16:08:26Z,1954852,4022,134012,False,PT15M49S,24,949
1,wycmfVWKWlw,2023-04-29T00:42:11Z,2490816,4463,187305,False,PT14M48S,24,888
2,mNHgVZPlh5g,2023-03-31T22:46:42Z,2206284,4406,141393,False,PT9M53S,24,593
3,XdwaASKJGxo,2023-03-14T16:00:30Z,2735952,5849,127953,False,PT1H3M3S,24,3783
4,BEXqDQ6X5hM,2023-03-10T18:00:08Z,2705155,3978,139607,False,PT18M33S,24,1113
...,...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12T14:41:51Z,27921,0,38,False,PT1M40S,2,100
26961,RcYtzUVR6is,2012-06-12T08:10:49Z,9561,0,22,False,PT1M22S,2,82
26962,bygSHVeH_Zc,2012-06-12T06:18:53Z,116046,52,266,False,PT3M24S,2,204
26963,oql8TymoDXM,2012-06-11T07:57:07Z,581,2,5,False,PT8M48S,2,528
26964,huRBAY4Fys8,2012-06-11T07:53:23Z,4660,0,6,False,PT2M57S,2,177

zmiana formatu publishedAt na datatime

In [12]:
dane['publishedAt'] = pd.to_datetime(dane['publishedAt'])
dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId,duration_seconds
0,WBniggluAe8,2023-05-14 16:08:26+00:00,1954852,4022,134012,False,PT15M49S,24,949
1,wycmfVWKWlw,2023-04-29 00:42:11+00:00,2490816,4463,187305,False,PT14M48S,24,888
2,mNHgVZPlh5g,2023-03-31 22:46:42+00:00,2206284,4406,141393,False,PT9M53S,24,593
3,XdwaASKJGxo,2023-03-14 16:00:30+00:00,2735952,5849,127953,False,PT1H3M3S,24,3783
4,BEXqDQ6X5hM,2023-03-10 18:00:08+00:00,2705155,3978,139607,False,PT18M33S,24,1113
...,...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12 14:41:51+00:00,27921,0,38,False,PT1M40S,2,100
26961,RcYtzUVR6is,2012-06-12 08:10:49+00:00,9561,0,22,False,PT1M22S,2,82
26962,bygSHVeH_Zc,2012-06-12 06:18:53+00:00,116046,52,266,False,PT3M24S,2,204
26963,oql8TymoDXM,2012-06-11 07:57:07+00:00,581,2,5,False,PT8M48S,2,528
26964,huRBAY4Fys8,2012-06-11 07:53:23+00:00,4660,0,6,False,PT2M57S,2,177

ujednolicenie stref czasowych oraz uzupełnieine brakujących

In [14]:
default_timezone = pytz.timezone('Europe/Warsaw')

for i, row in dane.iterrows():
    if row['publishedAt'].tzinfo is None:
        dane.at[i, 'publishedAt'] = default_timezone.localize(row['publishedAt'])

dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId,duration_seconds
0,WBniggluAe8,2023-05-14 16:08:26+00:00,1954852,4022,134012,False,PT15M49S,24,949
1,wycmfVWKWlw,2023-04-29 00:42:11+00:00,2490816,4463,187305,False,PT14M48S,24,888
2,mNHgVZPlh5g,2023-03-31 22:46:42+00:00,2206284,4406,141393,False,PT9M53S,24,593
3,XdwaASKJGxo,2023-03-14 16:00:30+00:00,2735952,5849,127953,False,PT1H3M3S,24,3783
4,BEXqDQ6X5hM,2023-03-10 18:00:08+00:00,2705155,3978,139607,False,PT18M33S,24,1113
...,...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12 14:41:51+00:00,27921,0,38,False,PT1M40S,2,100
26961,RcYtzUVR6is,2012-06-12 08:10:49+00:00,9561,0,22,False,PT1M22S,2,82
26962,bygSHVeH_Zc,2012-06-12 06:18:53+00:00,116046,52,266,False,PT3M24S,2,204
26963,oql8TymoDXM,2012-06-11 07:57:07+00:00,581,2,5,False,PT8M48S,2,528
26964,huRBAY4Fys8,2012-06-11 07:53:23+00:00,4660,0,6,False,PT2M57S,2,177

zmiana daty na liczbę dni od 01.01.2012

In [15]:
reference_date = datetime(2012, 1, 1, tzinfo=pytz.UTC)
dane['days_since_2012'] = (dane['publishedAt'] - reference_date).dt.days

dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId,duration_seconds,days_since_2012
0,WBniggluAe8,2023-05-14 16:08:26+00:00,1954852,4022,134012,False,PT15M49S,24,949,4151
1,wycmfVWKWlw,2023-04-29 00:42:11+00:00,2490816,4463,187305,False,PT14M48S,24,888,4136
2,mNHgVZPlh5g,2023-03-31 22:46:42+00:00,2206284,4406,141393,False,PT9M53S,24,593,4107
3,XdwaASKJGxo,2023-03-14 16:00:30+00:00,2735952,5849,127953,False,PT1H3M3S,24,3783,4090
4,BEXqDQ6X5hM,2023-03-10 18:00:08+00:00,2705155,3978,139607,False,PT18M33S,24,1113,4086
...,...,...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12 14:41:51+00:00,27921,0,38,False,PT1M40S,2,100,163
26961,RcYtzUVR6is,2012-06-12 08:10:49+00:00,9561,0,22,False,PT1M22S,2,82,163
26962,bygSHVeH_Zc,2012-06-12 06:18:53+00:00,116046,52,266,False,PT3M24S,2,204,163
26963,oql8TymoDXM,2012-06-11 07:57:07+00:00,581,2,5,False,PT8M48S,2,528,162
26964,huRBAY4Fys8,2012-06-11 07:53:23+00:00,4660,0,6,False,PT2M57S,2,177,162

dodanie kolumny pokazującą czas dodania od północy

In [16]:
dane['minutes_since_midnight'] = dane['publishedAt'].dt.hour * 60 + dane['publishedAt'].dt.minute

dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId,duration_seconds,days_since_2012,minutes_since_midnight
0,WBniggluAe8,2023-05-14 16:08:26+00:00,1954852,4022,134012,False,PT15M49S,24,949,4151,968
1,wycmfVWKWlw,2023-04-29 00:42:11+00:00,2490816,4463,187305,False,PT14M48S,24,888,4136,42
2,mNHgVZPlh5g,2023-03-31 22:46:42+00:00,2206284,4406,141393,False,PT9M53S,24,593,4107,1366
3,XdwaASKJGxo,2023-03-14 16:00:30+00:00,2735952,5849,127953,False,PT1H3M3S,24,3783,4090,960
4,BEXqDQ6X5hM,2023-03-10 18:00:08+00:00,2705155,3978,139607,False,PT18M33S,24,1113,4086,1080
...,...,...,...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12 14:41:51+00:00,27921,0,38,False,PT1M40S,2,100,163,881
26961,RcYtzUVR6is,2012-06-12 08:10:49+00:00,9561,0,22,False,PT1M22S,2,82,163,490
26962,bygSHVeH_Zc,2012-06-12 06:18:53+00:00,116046,52,266,False,PT3M24S,2,204,163,378
26963,oql8TymoDXM,2012-06-11 07:57:07+00:00,581,2,5,False,PT8M48S,2,528,162,477
26964,huRBAY4Fys8,2012-06-11 07:53:23+00:00,4660,0,6,False,PT2M57S,2,177,162,473

zmiana likeCount(wartość -1) na średnią ilości w granicach ±5% z viewCount dla danej kategorii

In [19]:
grouped_data = dane.groupby('categoryId')

# Funkcja do obliczania średniej ilości likeCount(wartość -1) w granicach ±5% z viewCount dla danej kategorii
def calculate_mean_likeCount(row):
    category_id = row['categoryId']
    view_count = row['viewCount']

    # Wybór danych dla tej samej kategorii
    category_data = grouped_data.get_group(category_id)

    # Obliczenie granic ±5%
    lower_limit = view_count * 0.95
    upper_limit = view_count * 1.05

    # Wybór danych z viewCount w granicach ±5%
    filtered_data = category_data[(category_data['viewCount'] >= lower_limit) & (category_data['viewCount'] <= upper_limit)]

    # Obliczenie średniej ilości likeCount
    mean_likeCount = filtered_data['likeCount'].mean()

    return mean_likeCount

# Zastąpienie wartości -1 w kolumnie likeCount średnią ilością likeCount dla danej kategorii
dane['likeCount'] = np.where(dane['likeCount'] == -1, dane.apply(calculate_mean_likeCount, axis=1), dane['likeCount'])

dane.tail()
display(dane)

,id,publishedAt,viewCount,commentCount,likeCount,madeForKids,duration,categoryId,duration_seconds,days_since_2012,minutes_since_midnight
0,WBniggluAe8,2023-05-14 16:08:26+00:00,1954852,4022,134012.0,False,PT15M49S,24,949,4151,968
1,wycmfVWKWlw,2023-04-29 00:42:11+00:00,2490816,4463,187305.0,False,PT14M48S,24,888,4136,42
2,mNHgVZPlh5g,2023-03-31 22:46:42+00:00,2206284,4406,141393.0,False,PT9M53S,24,593,4107,1366
3,XdwaASKJGxo,2023-03-14 16:00:30+00:00,2735952,5849,127953.0,False,PT1H3M3S,24,3783,4090,960
4,BEXqDQ6X5hM,2023-03-10 18:00:08+00:00,2705155,3978,139607.0,False,PT18M33S,24,1113,4086,1080
...,...,...,...,...,...,...,...,...,...,...,...
26960,4l_HuMMgyo4,2012-06-12 14:41:51+00:00,27921,0,38.0,False,PT1M40S,2,100,163,881
26961,RcYtzUVR6is,2012-06-12 08:10:49+00:00,9561,0,22.0,False,PT1M22S,2,82,163,490
26962,bygSHVeH_Zc,2012-06-12 06:18:53+00:00,116046,52,266.0,False,PT3M24S,2,204,163,378
26963,oql8TymoDXM,2012-06-11 07:57:07+00:00,581,2,5.0,False,PT8M48S,2,528,162,477
26964,huRBAY4Fys8,2012-06-11 07:53:23+00:00,4660,0,6.0,False,PT2M57S,2,177,162,473

zmiana boola w madeForKids na inta

In [23]:
dane['madeForKids'] = dane['madeForKids'].astype(int)

zapisanie wszystkich danych

In [26]:
dane.to_csv(r'D:\Studia\4 semestr\MSID\L\Projekt MSID\datebase yt\clear_csv.csv',index=False)

zapisanie danych

In [22]:
# del dane_copy['publishedAt']
# del dane_copy['duration']
# dane.to_csv(r'D:\Studia\4 semestr\MSID\L\Projekt MSID\datebase yt\youtube_database.csv',index=False)